<div class="sc__loading" ng-show="loading">
    <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
</div>
<div>
    <ol class="breadcrumb mar-top-1 mar-bot-0">
        <li><a href="Listing#/">{{ localization.Home }}</a></li>
        <li class="active">{{ localization.FavoriteRequests }}</li>
    </ol>
</div>
<service-panel categorydata="scData" placeholder="localization.BrowseByCategory"></service-panel><br />
<div class="sc__ro-lists" ng-show="!loading">
    <h3 class="margin-b10">{{ localization.FavoriteRequests }}</h3>
    <hr />
    <div class="row" 
         infinite-scroll="fetchMoreFavorites()"
         infinite-scroll-immediate-check="false"
         infinite-scroll-disabled='fetching'
         infinite-scroll-distance="0">
        <div class="ro-item-list" data-ng-repeat="request in favoriteRequests">
            <div class="media-link">
                <a ng-if="request.LinkUrl!=null" href="{{request.LinkUrl}}" target="{{request.LinkTargetType}}">
                    <img ng-src="/ServiceCatalog/GetRequestOfferingImg/{{ request.Id }}"
                         onerror="this.onerror=null; this.src='/Content/Images/Icons/RequestOffering/RO_Default.png';"
                         class="img-responsive pad-top-0-5">
                </a>
                <a ng-if="request.LinkUrl==null" href="/ServiceCatalog/RequestOffering/{{ request.Id }},{{ request.ServiceInfo.Id }}">
                    <img ng-src="/ServiceCatalog/GetRequestOfferingImg/{{ request.Id }}"
                         onerror="this.onerror=null; this.src='/Content/Images/Icons/RequestOffering/RO_Default.png';"
                         class="img-responsive pad-top-0-5">
                </a>
                <div>
                    <h5>
                        <a ng-if="request.LinkUrl!=null" href="{{request.LinkUrl}}" target="{{request.LinkTargetType}}">{{ request.Title }}</a>
                        <a ng-if="request.LinkUrl==null" href="/ServiceCatalog/RequestOffering/{{ request.Id }},{{ request.ServiceInfo.Id }}">{{ request.Title }}</a>
                        <span class="ro-desc" ng-bind-html="request.BriefDescription"></span>
                    </h5>

                </div>
            </div>
        </div>
        <div ng-show="fetching" class="sc-lazy-load">
            <div class="spinner spinner-small">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div ng-show="noMoreFavoritesMessage.length > 0">
        <hr />
        <p class="lead text-center">{{noMoreFavoritesMessage}}</p>
    </div>
    <div ng-show="favoriteRequests.length === 0">
        <div class="media-link">
            <span>{{ localization.NoRequestOfferings }}</span>
        </div>
    </div>
</div>