
<div id="activity-tabstrip" style="display:none">

    <ul>
        <li class="k-state-active">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-list" aria-hidden="true"></i>
        </li>
    </ul>
    <br />
    <div id="activity-diagram" class="activity-view-container"></div>
    <div id="activity-list" data-control="activityDisplay" data-control-bind="Activity" class="k-state-active activity-view-container activity-list-container cs-form__predefined--activities"
            <% if ( Disabled ){ %>
            disabled
            <% } %>
            >
        </div>
</div>
