<div class="activity-item">
    <div class="activity-item-header" style="display: block;" data-bind="attr: { data-activity-sequence: SequenceId }">
        <span data-click="toggle">
            <span href="#" class="k-icon k-i-expand"></span>
            <span><i class="ci ci-parallel-activity fa-lg"></i></span>
            <span data-bind="visible: false"><i class="fa fa-share fa-lg text-warning"></i></span>
            <span><i><img class='activity-item-status' src='/Content/Images/Activity Status/nullStatus.svg' /></i></span>
            <span data-bind="attr: {class: HeaderCss}"><span data-bind="text: Id" style="font-weight:bold;"></span> - <span data-bind="text: Title"></span></span>
        </span>
        <span class="activity-item-header-actions">
            <span data-bind="visible: ShowSkipIcon, attr: { title: IconTitle }" data-click="setSkip" class="padleft10"><i class="fa fa-share-square-o fa-lg"></i></span>
            <span data-bind="visible: ShowUnskipIcon, attr: { title: IconTitle }" data-click="setSkip" class="padleft10"><i class="fa fa-share-square-o fa-lg fa-flip-horizontal"></i></span>
            <span data-bind="visible: ShowReturnIcon, attr: { title: IconReturnTitle }" data-click="returnActivity" class="padleft10"><i class="fa fa-reply-all fa-lg"></i></span>
            <span class="activity-item-add"><ul class="addActivityMenu"></ul></span>
            <span class="activity-item-add-child"><ul class="addChildActivityMenu"></ul></span>
        </span>
    </div>
    <div class="activity-item-body form-group" data-secured='hasEdit' data-for-action="toggle">
        <table style="border-collapse:collapse">
            <tr>
                <td>
                    <div class="activity-item-form" style="padding: 25px;">
                        <!-- title -->
                        <div class="col-group">
                            <div>
                                <div class="editor-label">
                                    <label data-localize="Title"></label> <span style="display:none" class="error">*</span>
                                </div>
                                <div class="editor-field">
                                    <input class="k-textbox" data-bind="value: Title" type="text" name="Title">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                
            </tr>
        </table>


    </div>
    <div class="activity-item-children"></div>
</div>