<div id="relatedItemTemplate" data-bind="templateResources:'resources'" style="display:none">
    <div data-template-name="mobileGridTemplate" class="cs-form__predefined--relatedItems--mobile">
        <!-- repeated template content here -->
        <div class="gridcard gridcard--form">
            <p class="gridcard__title">#: DisplayName #</p>
            <div class="gridcard__detailblock">
                <p>#: (typeof AssetStatus!="undefined") ? !_.isUndefined(AssetStatus.Name)?AssetStatus.Name:"" : "" #</p>
                <p>#: (Path!=null ) ? Path : "" # </p>
                
            </div>
            <div class="gridcard__detailblock hidden-print" data-bind="visible:view.relatedItemController.showAddRemoveButton">
                <a class="k-delete-button">#: localization.Remove #</a>
            </div>
        </div>
    </div>
</div>

<div class="row cs-form__predefined--relatedItems">
    <div class="col-md-12 relateditems-grid">
        <div class="row hidden-print" data-bind="visible:view.relatedItemController.showAddRemoveButton">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><%= localization.Configurationitem %></label>
                    <div class="two-action-input-group">
                        <input data-role="combobox" class="search-combo"
                               data-placeholder="<%= localization.ChooseOne %>"
                               data-value-primitive="true"
                               data-text-field="Text"
                               data-value-field="Value"
                               data-filter="contains"
                               data-auto-bind="false"
                               data-bind="value: view.relatedItemController.selectedConfigItem, source: view.relatedItemController.configItemDataSource, events:{change:view.relatedItemController.onConfigItemChange }"
                               <% if ( Disabled ){ %> disabled <% } %>/>

                        <span data-bind="events:{click: view.relatedItemController.searchConfigItem}"
                              data-cid="relatedItemsSearchIcon"
                          <% if ( Disabled ){ %> disabled class="search search-disabled" <% } else{ %> class="search" <% } %>
                          >
                        <i class="fa fa-search"></i>
                    </span>
                        <button data-role="button" class="search-button two-action-input-group__primary-action"
                                data-bind="events:{click: view.relatedItemController.addConfigItem}"
                                data-cid="relatedItemSearchAddBbtn"
                            <% if ( Disabled ){ %> disabled <% } %>
                            >
                        <%= localization.Add %>
                    </button>
                    </div>
                 </div>
            </div>
            <div class="col-md-6">
                <div class="form-group affected-user-item-search" data-bind="visible: view.relatedItemController.isUserCIVisible">
                    <label class="control-label"><%= localization.AffectedUserItems %></label>
                    <div class="two-action-input-group">
                        <input data-role="combobox" class="search-combo"
                               data-placeholder="<%= localization.ChooseOne %>"
                               data-value-primitive="true"
                               data-text-field="Text"
                               data-value-field="Value"
                               data-filter="contains"
                               data-auto-bind="false"
                               data-bind="value: view.relatedItemController.selectedUserConfigItem, source: view.relatedItemController.userConfigItemDataSource, events:{change:view.relatedItemController.onUserConfigItemChange }"
                               data-cid="affectedItemsUserItemBox"
                               <% if ( Disabled ){ %> disabled <% } %> />

                        <button class="two-action-input-group__primary-action"
                                data-role="button"
                                data-bind="events:{click: view.relatedItemController.addUserConfigItem}"
                            <% if ( Disabled ){ %> disabled <% } %>
                            >
                        <%= localization.Add %>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div data-role="grid"
             data-bind="visible: view.relatedItemController.isDesktopView, source: view.relatedItemController.dataSource, events:{dataBinding: view.relatedItemController.onDataBinding}"
             data-selectable="false"
             data-sortable="true"
             data-filterable="true"
             data-scrollable="false"
             data-column-menu="true"
             data-pageable="false"
             data-editable="{mode: 'incell', create: false, update: false}"
             data-columns='[
                    { title: "", width: "1%", template: "\u003cdiv data-base-id=\"#=BaseId#\" base-type=\"#=BaseType#\" class=\"ci-context-menu open-modal pull-right\" data-bind=\"visible: view.relatedItemController.isSlideOut\"\u003e\u003ci class=\"fa fa-info-circle\"\u003e\u003c/i\u003e\u003c/div\u003e\u003cdiv class=\"open-modal pull-right\" data-bind=\"visible: view.relatedItemController.isMoreInfo, events:{click:view.relatedItemController.showMoreInfo }\"\u003e\u003ci class=\"fa fa-info-circle\"/\u003e\u003c/i\u003e\u003c/div\u003e"},
                    { field: "DisplayName", title: localization.DisplayName, width: "50%", attributes:{class: (app.featureSet.isActive("CMDBPortalCI")) ? "grid-highlight-column" : ""}, template: "# if \u0028app.featureSet.isActive\u0028\u0022CMDBPortalCI\u0022\u0029\u0029 \u007b # \u003ca target=\u0027_blank\u0027 href=\u0027#var url = app.gridUtils.getObjectLinkUrl\u0028data\u0029;##=url#\u0027\u003e#: DisplayName # \u003c/a\u003e\u003cspan class=\u0027pull-right relatedItems-grid-links\u0027\u003e\u003ca class=\u0027highlight-default-icon\u0027 target=\u0027_blank\u0027 href=\u0027#var url = app.gridUtils.getObjectLinkUrl\u0028data\u0029;##=url#\u0027\u003e\u003ci class=\u0027fa fa fa-external-link\u0027\u003e\u003c/i\u003e\u003c/a\u003e\u003c/span\u003e #\u007d else \u007b# #: DisplayName # # \u007d#"},
                    { field: "BaseId", title: localization.BaseId, width: "25%", hidden: true },
                    { field: "Path", title: localization.Path, width: "25%" },
                    { field: "AssetStatus.Name", title: localization.Status, width: "25%" },
                    { title: localization.Actions, width: "15%", command: [{ name: "destroy", buttonType: "ImageAndText", text: localization.Remove, className:"custom__grid-remove" }] }
                ]'>
        </div>
        <div data-bind="visible: view.relatedItemController.isMobileView">
            <div data-bind="mobileGrid: RelatesToConfigItem" data-template-name="mobileGridTemplate" class="mobile-grid-parent"></div>
        </div>
        <!--context menu for info icon-->
        <ul id="tccmenu-related-ci" data-role="contextmenu" 
            data-filter=".ci-context-menu"
            data-show-on="click"
            data-bind="events:{select:view.relatedItemController.onContextmenuSelect, activate:view.relatedItemController.onContextmenuActivate}">
        </ul>
    </div>
</div>